In [1]:
import pandas as pd
import os
import numpy as np
from numpy import dot
from numpy.linalg import norm
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

## Reading Grid Summary of All locations in GeoNames

In [2]:
dir_geonames_grids = os.path.dirname(os.getcwd())+'\\data\\grids-100sqkm-admin0-natural-earth\\grids_summary_GeoNames_poi.csv'

In [3]:
df_geonames_grids = pd.read_csv(dir_geonames_grids)
df_geonames_grids.head()

,OID_,Join_Count,TARGET_FID,PageName,PageNumber,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,...,FCLASS_PL,FCLASS_GR,FCLASS_IT,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,Shape_Length,Shape_Area,Point_Count
0,1,0,1456,A1456,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,1
1,2,0,1457,A1457,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
2,3,0,1458,A1458,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
3,4,0,1459,A1459,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
4,5,0,1461,A1461,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,1

In [4]:
## Only columns that are needed for measuring representation biases are kept.
## The column Point_Count stands for the number of locations within the grid with a TARGET_FID.
df_geonames_grids = df_geonames_grids[['OID_','TARGET_FID','SOVEREIGNT','Point_Count']]
df_geonames_grids.head()

   OID_  TARGET_FID SOVEREIGNT  Point_Count
0     1        1456        NaN            1
1     2        1457        NaN            0
2     3        1458        NaN            0
3     4        1459        NaN            0
4     5        1461        NaN            1

In [5]:
## The same preprocessing is carried out for all the other grid summary datasets below.

## Measuring Spatial (Diversity) Misalignment between GeoWiki and GeoNames

In [6]:
## all comments listed in this section can also be applied to all the other spatial (diversity) misalignment calculations

In [7]:
dir_geowiki_grids = os.path.dirname(os.getcwd())+'\\data\\grids-100sqkm-admin0-natural-earth\\grids_summary_GeoWiki_poi.csv'

In [8]:
df_geowiki_grids = pd.read_csv(dir_geowiki_grids)
df_geowiki_grids.head()

,OID_,Join_Count,TARGET_FID,PageName,PageNumber,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,...,FCLASS_PL,FCLASS_GR,FCLASS_IT,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,Shape_Length,Shape_Area,Point_Count
0,1,0,1456,A1456,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
1,2,0,1457,A1457,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
2,3,0,1458,A1458,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
3,4,0,1459,A1459,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
4,5,0,1461,A1461,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0

In [9]:
df_geowiki_grids = df_geowiki_grids[['OID_','TARGET_FID','SOVEREIGNT','Point_Count']]
df_geowiki_grids.head()

   OID_  TARGET_FID SOVEREIGNT  Point_Count
0     1        1456        NaN            0
1     2        1457        NaN            0
2     3        1458        NaN            0
3     4        1459        NaN            0
4     5        1461        NaN            0

In [10]:
## admin0_list is a list containing all Natural Earth Admin 0 regions that are included in the geowiki grid summary,
admin0_list = list(df_geowiki_grids['SOVEREIGNT'].unique())

In [11]:
## merge two grid summary datasets for spatial (diversity) misalignment calculation,
df_geowiki_geonames_grids_merged = df_geonames_grids.merge(df_geowiki_grids, on=['OID_','SOVEREIGNT','TARGET_FID'])
df_geowiki_geonames_grids_merged.head()

   OID_  TARGET_FID SOVEREIGNT  Point_Count_x  Point_Count_y
0     1        1456        NaN              1              0
1     2        1457        NaN              0              0
2     3        1458        NaN              0              0
3     4        1459        NaN              0              0
4     5        1461        NaN              1              0

In [12]:
## calculate spatial misalignemnt
sm_geowiki = {}
for admin0 in admin0_list:
    df_geowiki_geonames_grids_merged_admin0 = df_geowiki_geonames_grids_merged[df_geowiki_geonames_grids_merged['SOVEREIGNT'] == admin0]
    gc = list(df_geowiki_geonames_grids_merged_admin0['Point_Count_x'].values)
    gp = list(df_geowiki_geonames_grids_merged_admin0['Point_Count_y'].values)
    if (np.isnan(1 - dot(gp, gc)/(norm(gp)*norm(gc))) == False):
        sm_geowiki[admin0] = 1 - dot(gp, gc)/(norm(gp)*norm(gc))
    else:
        continue

sm_geowiki = sorted(sm_geowiki.items(), key = lambda kv:(kv[1], kv[0]))

In [13]:
sm_geowiki

[('Barbados', 0.0),
 ('Federated States of Micronesia', 0.0),
 ('Saint Lucia', 0.0),
 ('Comoros', 0.009169831955701091),
 ('Luxembourg', 0.02008656540351006),
 ('Slovenia', 0.022833663200008014),
 ('Northern Cyprus', 0.028014686549853396),
 ('United Kingdom', 0.04773332815928455),
 ('Cyprus', 0.05395764881467724),
 ('Cabo Verde', 0.0618173443358514),
 ('Slovakia', 0.06615253967160784),
 ('Czechia', 0.07045340599556493),
 ('Estonia', 0.07732695663432188),
 ('SÃ£o TomÃ© and Principe', 0.08051068557917795),
 ('Moldova', 0.09396088741919872),
 ('Poland', 0.10432917086463656),
 ('Mauritius', 0.1336966723668891),
 ('Nepal', 0.14045200096284582),
 ('Spain', 0.15661301694773155),
 ('Trinidad and Tobago', 0.15842393201886362),
 ('Italy', 0.16715368566494226),
 ('Costa Rica', 0.16783548792711478),
 ('Netherlands', 0.17349858130962958),
 ('Hungary', 0.1761168268096871),
 ('France', 0.19763911060240957),
 ('Lebanon', 0.20902390733990417),
 ('Azerbaijan', 0.2189315709170726),
 ('Jamaica', 0.22047117537497207),
 ('Iran', 0.22991405042650714),
 ('Lesotho', 0.23381374443785363),
 ('United States of America', 0.23736878209218715),
 ('eSwatini', 0.2458531308327806),
 ('Bhutan', 0.25168907056692635),
 ('Greece', 0.25925675500339773),
 ('Syria', 0.2625579627832453),
 ('Suriname', 0.26921131715942614),
 ('Albania', 0.2694395727303822),
 ('Israel', 0.2713468881860839),
 ('Bosnia and Herzegovina', 0.2789017875175578),
 ('Jordan', 0.28025147327450384),
 ('Portugal', 0.28539556237081876),
 ('Brunei', 0.285502241144279),
 ('East Timor', 0.2912661769231243),
 ('Republic of Serbia', 0.2950234364696517),
 ('Japan', 0.3005250649523148),
 ('Taiwan', 0.30927838632822513),
 ('Switzerland', 0.31468837527848925),
 ('Australia', 0.3172353862919177),
 ('Romania', 0.3419905518950168),
 ('Kenya', 0.347503023096565),
 ('Belgium', 0.3515387700178013),
 ('Samoa', 0.35210365512343367),
 ('Vietnam', 0.3544755579184464),
 ('Nicaragua', 0.3605724137103028),
 ('Kyrgyzstan', 0.3660743438773023),
 ('Oman', 0.3668958291629153),
 ('Bulgaria', 0.37201785616308003),
 ('Latvia', 0.3947767741770073),
 ('Egypt', 0.3950650368404959),
 ('United Arab Emirates', 0.39853617590506474),
 ('Colombia', 0.40455645842140875),
 ('Gambia', 0.4126249266099784),
 ('Kashmir', 0.42264973081037416),
 ('Iraq', 0.4246393252112963),
 ('Paraguay', 0.4252198890226857),
 ('Cambodia', 0.429478460669136),
 ('Namibia', 0.43132130797984025),
 ('Dominican Republic', 0.43185355101562406),
 ('Ireland', 0.4346069105288355),
 ('Kosovo', 0.4349272289943109),
 ('Burundi', 0.43934954116716585),
 ('Rwanda', 0.4431639098638426),
 ('Kuwait', 0.44519078518135247),
 ('Sri Lanka', 0.4480220666909177),
 ('Fiji', 0.44880938553832095),
 ('Guatemala', 0.4546029728836395),
 ('Saudi Arabia', 0.4567673859767968),
 ('Haiti', 0.45784588188115893),
 ('Argentina', 0.45868278490757886),
 ('Thailand', 0.45907759446655283),
 ('Benin', 0.4643099788461946),
 ('Germany', 0.4658641434765832),
 ('South Korea', 0.4689181486650629),
 ('Burkina Faso', 0.4725030847042765),
 ('Belize', 0.4725366684721457),
 ('El Salvador', 0.474380500544917),
 ('North Macedonia', 0.47469945409586956),
 ('Tunisia', 0.476397037687998),
 ('Chile', 0.47835776649624684),
 ('Honduras', 0.4861147674186781),
 ('Panama', 0.4946388566967461),
 ('Turkey', 0.49590701425310857),
 ('Denmark', 0.49745554354958965),
 ('Ecuador', 0.50433127638645),
 ('Armenia', 0.5115289402338612),
 ('Vanuatu', 0.5138431743730834),
 ('Ivory Coast', 0.5168716444596345),
 ('Sweden', 0.5181356296707006),
 ('Djibouti', 0.5211142993106883),
 ('Afghanistan', 0.5264843134894952),
 ('Cuba', 0.5307766521784582),
 ('Tajikistan', 0.5350068379035622),
 ('Georgia', 0.5442285188784886),
 ('Pakistan', 0.5492172624044573),
 ('Iceland', 0.5565426416239337),
 ('Austria', 0.5570924406725823),
 ('Malaysia', 0.56474053467198),
 ('Uganda', 0.5656537507348546),
 ('Ukraine', 0.567408017617824),
 ('Bir Tawil', 0.5735985672887791),
 ('Mali', 0.5764396474777601),
 ('Madagascar', 0.5766778824805492),
 ('Brazil', 0.5824596343688875),
 ('Qatar', 0.5834246161134984),
 ('Philippines', 0.5846595209672845),
 ('New Zealand', 0.5870535556777645),
 ('Morocco', 0.5886639049373763),
 ('Ghana', 0.592726875398941),
 ('Uruguay', 0.5934128389953692),
 ('Croatia', 0.597471950055087),
 ('Mongolia', 0.5983103451981469),
 ('Guinea-Bissau', 0.6011288018119552),
 ('Algeria', 0.6037248476579972),
 ('Venezuela', 0.6039714022524729),
 ('Liberia', 0.604485755104969),
 ('Mexico', 0.606286597478912),
 ('Libya', 0.6101149818854874),
 ('Uzbekistan', 0.6115928131030504),
 ('North Korea', 0.6121772838324926),
 ('Botswana', 0.6122286086990036),
 ('Togo', 0.6131561638058569),
 ('Montenegro', 0.618796768386674),
 ('Guinea', 0.6239083247293459),
 ('Bolivia', 0.624618143468993),
 ('Norway', 0.6275137766030624),
 ('United Republic of Tanzania', 0.6289099505391468),
 ('Zimbabwe', 0.6355404239919495),
 ('Eritrea', 0.6369920997411345),
 ('Lithuania', 0.6391036062728568),
 ('Gabon', 0.6444642149498485),
 ('Canada', 0.6514296005216055),
 ('The Bahamas', 0.6518446880886043),
 ('Antarctica', 0.6533947832401306),
 ('Bangladesh', 0.6540616225278261),
 ('Cameroon', 0.6564418746944144),
 ('Senegal', 0.6609034570504615),
 ('Finland', 0.6688109650817919),
 ('China', 0.6747710621391032),
 ('Equatorial Guinea', 0.6773180979960028),
 ('South Africa', 0.6797981406793643),
 ('Peru', 0.6812397699124221),
 ('Ethiopia', 0.6919286118389041),
 ('Papua New Guinea', 0.6965599164893954),
 ('Malawi', 0.6991398536242079),
 ('Myanmar', 0.7029004235855671),
 ('Guyana', 0.7172086175125696),
 ('Indonesia', 0.7186883654453743),
 ('Russia', 0.7214689452330677),
 ('Somalia', 0.7225465156948383),
 ('Somaliland', 0.7274286837299646),
 ('Laos', 0.7292730406716792),
 ('Sierra Leone', 0.740903720735232),
 ('Belarus', 0.7411862591938713),
 ('India', 0.742083912988768),
 ('Solomon Islands', 0.7475603235420777),
 ('Turkmenistan', 0.7498357143580092),
 ('Niger', 0.7520405747905685),
 ('Republic of the Congo', 0.7546376039613755),
 ('Nigeria', 0.7638226925640115),
 ('Kazakhstan', 0.7664058804565297),
 ('South Sudan', 0.7853758368697903),
 ('Mauritania', 0.7940621345124717),
 ('Yemen', 0.7944413765732171),
 ('Zambia', 0.7956472109009254),
 ('Mozambique', 0.8088590231701378),
 ('Angola', 0.8121648014989246),
 ('Democratic Republic of the Congo', 0.8219568435341607),
 ('Central African Republic', 0.833851023126543),
 ('Chad', 0.8416774248159262),
 ('Sudan', 0.8613396783076225),
 ('Western Sahara', 0.8651600275073515)]

In [14]:
## get summary statistics of sm_geowiki
pd.Series([sm[1] for sm in sm_geowiki]).describe()

count    181.000000
mean       0.471373
std        0.218703
min        0.000000
25%        0.309278
50%        0.494639
75%        0.628910
max        0.865160
dtype: float64

In [15]:
sdm_geowiki = {}
for admin0 in admin0_list:
    df_geowiki_geonames_grids_merged_admin0 = df_geowiki_geonames_grids_merged[df_geowiki_geonames_grids_merged['SOVEREIGNT'] == admin0]
    gc = list(df_geowiki_geonames_grids_merged_admin0['Point_Count_x'].values)
    gp = list(df_geowiki_geonames_grids_merged_admin0['Point_Count_y'].values)
    gc /= np.sum(gc)
    gp /= np.sum(gp)
    sdi_p = 0
    for i in range(len(gp)):
        if gp[i] != 0:
            sdi_p -= gp[i]*np.log(gp[i])
    sdi_c = 0
    for i in range(len(gc)):
        if gc[i] != 0:
            sdi_c -= gc[i]*np.log(gc[i])
    if (max(sdi_p, sdi_c) == 0):
        continue
    elif (np.isnan((sdi_p-sdi_c)/max(sdi_p, sdi_c)) == False):
        sdm_geowiki[admin0] = (sdi_p-sdi_c)/max(sdi_p, sdi_c)
    else:
        continue

sdm_geowiki = sorted(sdm_geowiki.items(), key = lambda kv:(kv[1], kv[0]))

In [16]:
sdm_geowiki

[('Kashmir', -1.0),
 ('Kuwait', -0.6231406268051903),
 ('Western Sahara', -0.6116617632683333),
 ('The Bahamas', -0.5949032926407826),
 ('Mauritania', -0.5031359167936578),
 ('Chad', -0.4512511428131118),
 ('Republic of the Congo', -0.4489557868799401),
 ('Sudan', -0.44075278027908316),
 ('Turkmenistan', -0.42870762749452035),
 ('South Sudan', -0.4094576999747741),
 ('Mozambique', -0.4034487063079176),
 ('Oman', -0.39845617180118315),
 ('Madagascar', -0.39488095457185984),
 ('Angola', -0.3920090306960699),
 ('Kazakhstan', -0.3900324407987438),
 ('Sierra Leone', -0.3882137965493693),
 ('Democratic Republic of the Congo', -0.387402485571611),
 ('Laos', -0.3866074927622442),
 ('Somaliland', -0.38512340485237495),
 ('Saudi Arabia', -0.3824381245374625),
 ('Zambia', -0.38052525991574276),
 ('Venezuela', -0.3797528551252116),
 ('Central African Republic', -0.378800378798432),
 ('Guyana', -0.37785963757059743),
 ('Guinea-Bissau', -0.3754470124012201),
 ('Namibia', -0.37475705118626856),
 ('Gabon', -0.3688942582496375),
 ('Niger', -0.36862282878379005),
 ('Equatorial Guinea', -0.35890728027901536),
 ('United Arab Emirates', -0.35624109917155555),
 ('Solomon Islands', -0.3409978768234642),
 ('Egypt', -0.33995065222619114),
 ('North Korea', -0.3376422129972648),
 ('Eritrea', -0.33675650176371474),
 ('Malawi', -0.3343910808846368),
 ('Senegal', -0.3318428449806013),
 ('Qatar', -0.3270411043337966),
 ('Botswana', -0.32617597821488753),
 ('Libya', -0.3223679602051514),
 ('Zimbabwe', -0.31838874895590014),
 ('Somalia', -0.31684253298647974),
 ('Papua New Guinea', -0.3088128442751571),
 ('South Africa', -0.3077432808820052),
 ('Uruguay', -0.3066771246631398),
 ('Belarus', -0.30542693607218296),
 ('Suriname', -0.2960597449730987),
 ('Chile', -0.2921784962689075),
 ('Iraq', -0.29072090004195145),
 ('Cambodia', -0.2865319016233542),
 ('Malaysia', -0.28357117809015964),
 ('Greece', -0.2831385774858019),
 ('Paraguay', -0.2825064348749655),
 ('Djibouti', -0.27228124671526294),
 ('United Republic of Tanzania', -0.2713202268802658),
 ('Bir Tawil', -0.2705791120082078),
 ('Denmark', -0.27004930478690387),
 ('Cameroon', -0.2690503346107214),
 ('SÃ£o TomÃ© and Principe', -0.26809427889637616),
 ('Nicaragua', -0.2666651632474122),
 ('Uzbekistan', -0.2628110508092099),
 ('Argentina', -0.26081893068820994),
 ('Mongolia', -0.2607034400564254),
 ('South Korea', -0.25789327881224),
 ('Liberia', -0.255652128825741),
 ('Montenegro', -0.25488796486969123),
 ('Russia', -0.25164399962570944),
 ('Togo', -0.24980890563070363),
 ('Fiji', -0.24884434723931473),
 ('Mali', -0.24775015462979333),
 ('Indonesia', -0.24518094609935054),
 ('Nigeria', -0.24516775940172317),
 ('Cuba', -0.2421106927941676),
 ('Uganda', -0.24198483260340672),
 ('Taiwan', -0.24097977578706078),
 ('Trinidad and Tobago', -0.2400549781902671),
 ('Antarctica', -0.23904627219594496),
 ('Belize', -0.2337081780328511),
 ('Mexico', -0.233297203481388),
 ('Mauritius', -0.23198755036833138),
 ('Austria', -0.23081860246487695),
 ('Myanmar', -0.2306902106053839),
 ('Thailand', -0.2297082330209401),
 ('Australia', -0.22784054911819795),
 ('China', -0.22772259471343118),
 ('Panama', -0.2274414944367626),
 ('Vanuatu', -0.2243656500467767),
 ('Ukraine', -0.22018339976655574),
 ('Iceland', -0.2188475963647648),
 ('Sri Lanka', -0.21680848662081206),
 ('Afghanistan', -0.21587485769681009),
 ('Colombia', -0.21567432350368174),
 ('Ethiopia', -0.2149563617363606),
 ('France', -0.21386387854677963),
 ('Rwanda', -0.21271816110438452),
 ('Costa Rica', -0.2126341971659556),
 ('Finland', -0.21162182996099155),
 ('Ecuador', -0.21152558577560224),
 ('Bolivia', -0.20960478937175764),
 ('Guinea', -0.20817294699374284),
 ('Brunei', -0.2072739581408916),
 ('Sweden', -0.20725465962893566),
 ('Tunisia', -0.20301149594485926),
 ('Tajikistan', -0.20281777220867486),
 ('Ghana', -0.20266562176357944),
 ('Georgia', -0.198696489696565),
 ('Jordan', -0.19750117756886554),
 ('Benin', -0.19675289513613795),
 ('Kyrgyzstan', -0.19569442832703127),
 ('Latvia', -0.19381010094132514),
 ('Dominican Republic', -0.192638968404465),
 ('Pakistan', -0.19227563933425068),
 ('Vietnam', -0.18778155468677388),
 ('Kenya', -0.18694200877723263),
 ('Canada', -0.1850186736875085),
 ('eSwatini', -0.18403140089764652),
 ('Honduras', -0.1812273931620349),
 ('Brazil', -0.17960763059865695),
 ('Guatemala', -0.17641398188500357),
 ('Morocco', -0.17637751456529607),
 ('Philippines', -0.17466303835577612),
 ('Belgium', -0.1725359797867555),
 ('Burkina Faso', -0.1716682115221569),
 ('Armenia', -0.1716245887304316),
 ('Burundi', -0.16998604137296966),
 ('Haiti', -0.16524628306963302),
 ('Peru', -0.16492225259129722),
 ('Lithuania', -0.1619717741865847),
 ('Bangladesh', -0.15707522052492595),
 ('Bhutan', -0.157001349238463),
 ('New Zealand', -0.15267712547958118),
 ('Algeria', -0.15056771559356902),
 ('North Macedonia', -0.14811332606399766),
 ('Italy', -0.14554768901896512),
 ('East Timor', -0.14288241341447197),
 ('Kosovo', -0.14248766055794346),
 ('Israel', -0.1421562119249627),
 ('Yemen', -0.14075462597271393),
 ('Syria', -0.136287876958622),
 ('Germany', -0.13460895848909693),
 ('Jamaica', -0.1320489948839202),
 ('Turkey', -0.12944227730126145),
 ('Norway', -0.12786003010621216),
 ('Ivory Coast', -0.12690256663349686),
 ('Gambia', -0.12059366137787542),
 ('Lebanon', -0.11839098361393778),
 ('Portugal', -0.11178372629211346),
 ('Lesotho', -0.1027943354078523),
 ('India', -0.09396601732157792),
 ('Albania', -0.0862420921534429),
 ('Bulgaria', -0.08295556618084987),
 ('Bosnia and Herzegovina', -0.07263660377962905),
 ('Ireland', -0.07046814510271501),
 ('United States of America', -0.06676193811946096),
 ('Romania', -0.05740001798077965),
 ('Azerbaijan', -0.05708789153459421),
 ('Hungary', -0.048463182424310164),
 ('Japan', -0.048427217546962935),
 ('United Kingdom', -0.04802659390236951),
 ('Iran', -0.047981734921604936),
 ('Croatia', -0.044358305536040483),
 ('Netherlands', -0.039402108312057205),
 ('Nepal', -0.03149202285832419),
 ('Cyprus', -0.03142391161870198),
 ('Cabo Verde', -0.03009805768546777),
 ('Luxembourg', -0.029286355920694115),
 ('Switzerland', -0.02927730412737657),
 ('Spain', -0.026972501020861593),
 ('Estonia', -0.021785784054904386),
 ('Slovenia', -0.015510987227792246),
 ('Slovakia', -0.015278275302927401),
 ('Czechia', -0.010387907018184324),
 ('Northern Cyprus', -0.009475312393347193),
 ('Moldova', -0.004462159651863369),
 ('Poland', 0.00155850839064273),
 ('El Salvador', 0.015928213608482587),
 ('Republic of Serbia', 0.017688573828060966),
 ('Samoa', 0.03267068898369207),
 ('Comoros', 0.42803862583577124)]

In [17]:
## get summary statistics of sdm_geowiki
pd.Series([sdm[1] for sdm in sdm_geowiki]).describe()

count    178.000000
mean      -0.223448
std        0.146347
min       -1.000000
25%       -0.303085
50%       -0.216342
75%       -0.143549
max        0.428039
dtype: float64

## Measuring Spatial (Diversity) Misalignment between WikToR and GeoNames

In [18]:
dir_wiktor_grids = os.path.dirname(os.getcwd())+'\\data\\grids-100sqkm-admin0-natural-earth\\grids_summary_WikToR_poi.csv'

In [19]:
df_wiktor_grids = pd.read_csv(dir_wiktor_grids)
df_wiktor_grids.head()

,OID_,Join_Count,TARGET_FID,PageName,PageNumber,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,...,FCLASS_PL,FCLASS_GR,FCLASS_IT,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,Shape_Length,Shape_Area,Point_Count
0,1,0,1456,A1456,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
1,2,0,1457,A1457,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
2,3,0,1458,A1458,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
3,4,0,1459,A1459,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
4,5,0,1461,A1461,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0

In [20]:
df_wiktor_grids = df_wiktor_grids[['OID_','TARGET_FID','SOVEREIGNT','Point_Count']]
df_wiktor_grids.head()

   OID_  TARGET_FID SOVEREIGNT  Point_Count
0     1        1456        NaN            0
1     2        1457        NaN            0
2     3        1458        NaN            0
3     4        1459        NaN            0
4     5        1461        NaN            0

In [21]:
admin0_list = list(df_wiktor_grids['SOVEREIGNT'].unique())

In [22]:
df_wiktor_geonames_grids_merged = df_geonames_grids.merge(df_wiktor_grids, on=['OID_','SOVEREIGNT','TARGET_FID'])
df_wiktor_geonames_grids_merged.head()

   OID_  TARGET_FID SOVEREIGNT  Point_Count_x  Point_Count_y
0     1        1456        NaN              1              0
1     2        1457        NaN              0              0
2     3        1458        NaN              0              0
3     4        1459        NaN              0              0
4     5        1461        NaN              1              0

In [23]:
sm_wiktor = {}
for admin0 in admin0_list:
    df_wiktor_geonames_grids_merged_admin0 = df_wiktor_geonames_grids_merged[df_wiktor_geonames_grids_merged['SOVEREIGNT'] == admin0]
    gc = list(df_wiktor_geonames_grids_merged_admin0['Point_Count_x'].values)
    gp = list(df_wiktor_geonames_grids_merged_admin0['Point_Count_y'].values)
    if (np.isnan(1 - dot(gp, gc)/(norm(gp)*norm(gc))) == False):
        sm_wiktor[admin0] = 1 - dot(gp, gc)/(norm(gp)*norm(gc))
    else:
        continue

sm_wiktor = sorted(sm_wiktor.items(), key = lambda kv:(kv[1], kv[0]))

In [24]:
sm_wiktor

[('Australia', 0.4925566700743349),
 ('El Salvador', 0.4982565185722486),
 ('United Kingdom', 0.5079330828352608),
 ('Hungary', 0.6209303547660514),
 ('Philippines', 0.6520331630934006),
 ('United States of America', 0.6739461461903019),
 ('Israel', 0.7030762400040729),
 ('France', 0.7359596275426319),
 ('Switzerland', 0.7744039092126801),
 ('Argentina', 0.783506566178089),
 ('Lebanon', 0.7844801001497417),
 ('Ireland', 0.8000126012256825),
 ('Cyprus', 0.801960034836821),
 ('Egypt', 0.8034375539249907),
 ('Chile', 0.8035242039563254),
 ('Luxembourg', 0.8035749420295191),
 ('Afghanistan', 0.8080521811211696),
 ('Bhutan', 0.8101149346889834),
 ('Taiwan', 0.8112574017379999),
 ('Nicaragua', 0.8129342562577387),
 ('Uganda', 0.8198756923360152),
 ('Slovenia', 0.825112558123186),
 ('Cuba', 0.8263644925810846),
 ('Costa Rica', 0.8326663729814856),
 ('Iraq', 0.8334747302527087),
 ('Sri Lanka', 0.8340918735169158),
 ('Spain', 0.8382227444695993),
 ('Panama', 0.8421377777851042),
 ('Canada', 0.8468154579851834),
 ('Sierra Leone', 0.8631975550774477),
 ('Greece', 0.8663658173669035),
 ('Qatar', 0.8670453279697827),
 ('Malaysia', 0.8690276353672747),
 ('Croatia', 0.8695035828569908),
 ('New Zealand', 0.871235434250251),
 ('South Africa', 0.8758860908014292),
 ('East Timor', 0.8762325367567302),
 ('Belgium', 0.8768208885450163),
 ('Jamaica', 0.8768688938861214),
 ('Eritrea', 0.8779891459088475),
 ('Armenia', 0.8781229780017854),
 ('South Korea', 0.8787520512120659),
 ('Uruguay', 0.8796370398654056),
 ('Trinidad and Tobago', 0.8879310344827587),
 ('Pakistan', 0.888713644115729),
 ('Albania', 0.8926518098635181),
 ('Namibia', 0.8944160476581273),
 ('Lesotho', 0.8953782561703282),
 ('Netherlands', 0.8963424731884085),
 ('Montenegro', 0.8982144354777918),
 ('Nepal', 0.8982443142273014),
 ('Djibouti', 0.899359198940071),
 ('Bolivia', 0.8999484480136322),
 ('Guatemala', 0.9034685545299497),
 ('Georgia', 0.9050981116708903),
 ('Guyana', 0.9051539273759975),
 ('Saudi Arabia', 0.9071748565443098),
 ('Portugal', 0.9092596566140028),
 ('Norway', 0.9097575662576515),
 ('Benin', 0.9143788857642207),
 ('Myanmar', 0.9146180838877411),
 ('Kosovo', 0.9151518701892728),
 ('North Macedonia', 0.9175070154086025),
 ('Dominican Republic', 0.9187824167024519),
 ('Kenya', 0.920740607990933),
 ('Estonia', 0.9213169185515664),
 ('Poland', 0.9242647787855552),
 ('Honduras', 0.928279000890835),
 ('Thailand', 0.9288889838374823),
 ('Sweden', 0.9298992027622586),
 ('Syria', 0.9305287532909281),
 ('Mexico', 0.9337132461773158),
 ('Slovakia', 0.9352735768014567),
 ('Venezuela', 0.9364068866091473),
 ('China', 0.9381163759112865),
 ('Italy', 0.9383976845067241),
 ('United Republic of Tanzania', 0.939333348016862),
 ('Bulgaria', 0.9395847168898859),
 ('Japan', 0.9398265377098978),
 ('Germany', 0.9412731978489446),
 ('Sudan', 0.9431113304680433),
 ('Bosnia and Herzegovina', 0.9440369504256468),
 ('Turkey', 0.9456798789961444),
 ('Brazil', 0.9457916579318391),
 ('Peru', 0.9458977572520806),
 ('India', 0.9475502426675754),
 ('Mali', 0.9492633756997354),
 ('Malawi', 0.9500575926472575),
 ('Indonesia', 0.9525951035367912),
 ('Papua New Guinea', 0.954795552601173),
 ('Ethiopia', 0.9557221878753656),
 ('South Sudan', 0.9560185185185185),
 ('Colombia', 0.9561338726193245),
 ('Nigeria', 0.956607488033917),
 ('Russia', 0.9587372119753927),
 ('Cameroon', 0.959113880310435),
 ('Turkmenistan', 0.9595516852046058),
 ('Morocco', 0.9597286953556355),
 ('Togo', 0.960844783744096),
 ('Republic of the Congo', 0.9625273626004855),
 ('Paraguay', 0.9625534337530801),
 ('Liberia', 0.9645246671663716),
 ('Finland', 0.9657191892113832),
 ('Brunei', 0.9668594260963984),
 ('Zambia', 0.9712042216584486),
 ('Vanuatu', 0.9746214554057454),
 ('Ukraine', 0.9749299022828732),
 ('Angola', 0.9750003160261312),
 ('Ghana', 0.9753432754467911),
 ('Kazakhstan', 0.9764439448917926),
 ('Iran', 0.9765096308595146),
 ('Zimbabwe', 0.9768937767908262),
 ('Mozambique', 0.9797492179114462),
 ('Democratic Republic of the Congo', 0.9804963158962516),
 ('Romania', 0.9810408245322433),
 ('Yemen', 0.9825400515965365),
 ('Guinea', 0.9860641557936174),
 ('Belarus', 0.9906539807009637),
 ('Algeria', 0.9918298716493915),
 ('Republic of Serbia', 0.9918761208979939),
 ('Libya', 0.992358642674868),
 ('Somalia', 0.9963703973259204),
 ('Jordan', 0.9971668429898696),
 ('Gabon', 1.0)]

In [25]:
pd.Series([sm[1] for sm in sm_wiktor]).describe()

count    124.000000
mean       0.892736
std        0.096244
min        0.492557
25%        0.866875
50%        0.916329
75%        0.956252
max        1.000000
dtype: float64

In [26]:
sdm_wiktor = {}
for admin0 in admin0_list:
    df_wiktor_geonames_grids_merged_admin0 = df_wiktor_geonames_grids_merged[df_wiktor_geonames_grids_merged['SOVEREIGNT'] == admin0]
    gc = list(df_wiktor_geonames_grids_merged_admin0['Point_Count_x'].values)
    gp = list(df_wiktor_geonames_grids_merged_admin0['Point_Count_y'].values)
    gc /= np.sum(gc)
    gp /= np.sum(gp)
    sdi_p = 0
    for i in range(len(gp)):
        if gp[i] != 0:
            sdi_p -= gp[i]*np.log(gp[i])
    sdi_c = 0
    for i in range(len(gc)):
        if gc[i] != 0:
            sdi_c -= gc[i]*np.log(gc[i])
    if (max(sdi_p, sdi_c) == 0):
        continue
    elif (np.isnan((sdi_p-sdi_c)/max(sdi_p, sdi_c)) == False):
        sdm_wiktor[admin0] = (sdi_p-sdi_c)/max(sdi_p, sdi_c)
    else:
        continue

sdm_wiktor = sorted(sdm_wiktor.items(), key = lambda kv:(kv[1], kv[0]))

In [27]:
sdm_wiktor

[('Albania', -1.0),
 ('Algeria', -1.0),
 ('Belarus', -1.0),
 ('Benin', -1.0),
 ('Bhutan', -1.0),
 ('Bosnia and Herzegovina', -1.0),
 ('Brunei', -1.0),
 ('Croatia', -1.0),
 ('Cyprus', -1.0),
 ('Djibouti', -1.0),
 ('East Timor', -1.0),
 ('Ghana', -1.0),
 ('Guinea', -1.0),
 ('Guyana', -1.0),
 ('Hungary', -1.0),
 ('Kosovo', -1.0),
 ('Lesotho', -1.0),
 ('Liberia', -1.0),
 ('Libya', -1.0),
 ('Luxembourg', -1.0),
 ('Malawi', -1.0),
 ('Montenegro', -1.0),
 ('Mozambique', -1.0),
 ('Namibia', -1.0),
 ('North Macedonia', -1.0),
 ('Qatar', -1.0),
 ('Republic of the Congo', -1.0),
 ('Romania', -1.0),
 ('Slovakia', -1.0),
 ('Somalia', -1.0),
 ('Togo', -1.0),
 ('Trinidad and Tobago', -1.0),
 ('Turkmenistan', -1.0),
 ('Vanuatu', -1.0),
 ('Iran', -0.9242115430174368),
 ('Saudi Arabia', -0.9214006080091494),
 ('United Republic of Tanzania', -0.9161335217942945),
 ('Sweden', -0.9132667455903506),
 ('Zimbabwe', -0.9111344036324205),
 ('Paraguay', -0.9014280389669703),
 ('Gabon', -0.9011757216231875),
 ('Portugal', -0.8911651036723524),
 ('Eritrea', -0.8897278826683698),
 ('Georgia', -0.8873469774155247),
 ('Kazakhstan', -0.8864398498089834),
 ('Dominican Republic', -0.8822596687599),
 ('Estonia', -0.8790038118499944),
 ('Angola', -0.874502500980139),
 ('Sudan', -0.8718933021269741),
 ('Netherlands', -0.8714634012951233),
 ('Ukraine', -0.8694843492309158),
 ('Myanmar', -0.8688932985534571),
 ('Venezuela', -0.8668921380419734),
 ('Thailand', -0.8664244523284742),
 ('South Sudan', -0.8597496283822232),
 ('Jordan', -0.8566787923653284),
 ('Morocco', -0.8565059968596973),
 ('Papua New Guinea', -0.8540572437578776),
 ('Uruguay', -0.8457732926940914),
 ('Egypt', -0.8410427330350612),
 ('Jamaica', -0.8390514290489561),
 ('Yemen', -0.8355505463191264),
 ('Lebanon', -0.8316331875269343),
 ('South Korea', -0.8292322017693845),
 ('Democratic Republic of the Congo', -0.8265716423800814),
 ('Cameroon', -0.8211129341799565),
 ('Republic of Serbia', -0.8190710505466796),
 ('Finland', -0.817797010270627),
 ('Mali', -0.810643418286054),
 ('Peru', -0.8070882494752791),
 ('Poland', -0.7953775171847781),
 ('Bulgaria', -0.7902875652740617),
 ('Armenia', -0.7876607118429623),
 ('Bolivia', -0.7844809062337204),
 ('Afghanistan', -0.782207889233328),
 ('Nicaragua', -0.7799308047386599),
 ('Iraq', -0.7774452596095492),
 ('Nepal', -0.7653110858422846),
 ('Zambia', -0.7633474632514566),
 ('Norway', -0.7556035791203369),
 ('Guatemala', -0.7524933423610001),
 ('France', -0.7520468249230897),
 ('Kenya', -0.7463810184685071),
 ('Sierra Leone', -0.7435529660984423),
 ('Indonesia', -0.7420215654635445),
 ('Belgium', -0.7419672105003494),
 ('Sri Lanka', -0.7349327577887045),
 ('Panama', -0.7285400658200791),
 ('Uganda', -0.7285137270314647),
 ('Germany', -0.7242119182255997),
 ('Argentina', -0.7162437052246577),
 ('Costa Rica', -0.7042778239783608),
 ('Turkey', -0.7038383639165195),
 ('Syria', -0.6997794580091161),
 ('Taiwan', -0.6936525034820514),
 ('Honduras', -0.6905054650182083),
 ('Cuba', -0.682301062680423),
 ('Italy', -0.6784260733707939),
 ('Japan', -0.6782502602631221),
 ('Greece', -0.6779608266253304),
 ('Chile', -0.6735561390914349),
 ('Colombia', -0.6700200104178569),
 ('Nigeria', -0.6562026933667625),
 ('Pakistan', -0.6538645147123524),
 ('Russia', -0.6533063216604166),
 ('Spain', -0.6524725303677634),
 ('Brazil', -0.652465417278172),
 ('Malaysia', -0.6507223544653791),
 ('South Africa', -0.6494079949322327),
 ('Ireland', -0.6455674080546938),
 ('Mexico', -0.6283235779231214),
 ('Ethiopia', -0.6191976485362768),
 ('New Zealand', -0.5955855420187366),
 ('Slovenia', -0.5700697094330222),
 ('China', -0.5696217802397837),
 ('Israel', -0.5637110567902801),
 ('Canada', -0.5259925097986516),
 ('Australia', -0.5105532686097681),
 ('India', -0.5096429891699138),
 ('El Salvador', -0.47712128287428945),
 ('Switzerland', -0.46942322245670104),
 ('Philippines', -0.3250876784078021),
 ('United States of America', -0.27327192103854286),
 ('United Kingdom', -0.2616890789790998)]

In [28]:
pd.Series([sdm[1] for sdm in sdm_wiktor]).describe()

count    124.000000
mean      -0.812131
std        0.166701
min       -1.000000
25%       -1.000000
50%       -0.833592
75%       -0.702824
max       -0.261689
dtype: float64

## Measuring Spatial (Diversity) Misalignment between GeoCorpora and GeoNames

In [29]:
dir_geocorpora_grids = os.path.dirname(os.getcwd())+'\\data\\grids-100sqkm-admin0-natural-earth\\grids_summary_GeoCorpora_poi.csv'

In [30]:
df_geocorpora_grids = pd.read_csv(dir_geocorpora_grids)
df_geocorpora_grids.head()

,OID_,Join_Count,TARGET_FID,PageName,PageNumber,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,...,FCLASS_PL,FCLASS_GR,FCLASS_IT,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,Shape_Length,Shape_Area,Point_Count
0,1,0,1456,A1456,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
1,2,0,1457,A1457,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
2,3,0,1458,A1458,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
3,4,0,1459,A1459,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0
4,5,0,1461,A1461,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,100000000.0,0

In [31]:
df_geocorpora_grids = df_geocorpora_grids[['OID_','TARGET_FID','SOVEREIGNT','Point_Count']]
df_geocorpora_grids.head()

   OID_  TARGET_FID SOVEREIGNT  Point_Count
0     1        1456        NaN            0
1     2        1457        NaN            0
2     3        1458        NaN            0
3     4        1459        NaN            0
4     5        1461        NaN            0

In [32]:
admin0_list = list(df_geocorpora_grids['SOVEREIGNT'].unique())

In [33]:
df_geocorpora_geonames_grids_merged = df_geonames_grids.merge(df_geocorpora_grids, on=['OID_','SOVEREIGNT','TARGET_FID'])
df_geocorpora_geonames_grids_merged.head()

   OID_  TARGET_FID SOVEREIGNT  Point_Count_x  Point_Count_y
0     1        1456        NaN              1              0
1     2        1457        NaN              0              0
2     3        1458        NaN              0              0
3     4        1459        NaN              0              0
4     5        1461        NaN              1              0

In [34]:
sm_geocorpora = {}
for admin0 in admin0_list:
    df_geocorpora_geonames_grids_merged_admin0 = df_geocorpora_geonames_grids_merged[df_geocorpora_geonames_grids_merged['SOVEREIGNT'] == admin0]
    gc = list(df_geocorpora_geonames_grids_merged_admin0['Point_Count_x'].values)
    gp = list(df_geocorpora_geonames_grids_merged_admin0['Point_Count_y'].values)
    if (np.isnan(1 - dot(gp, gc)/(norm(gp)*norm(gc))) == False):
        sm_geocorpora[admin0] = 1 - dot(gp, gc)/(norm(gp)*norm(gc))
    else:
        continue
        
sm_geocorpora = sorted(sm_geocorpora.items(), key = lambda kv:(kv[1], kv[0]))

In [35]:
sm_geocorpora

[('Greece', 0.35083925393247495),
 ('United Kingdom', 0.38757852137981086),
 ('France', 0.39938106829190745),
 ('Australia', 0.5071440807727251),
 ('Syria', 0.5126939341159864),
 ('Italy', 0.6646059448149255),
 ('United States of America', 0.7045352378950709),
 ('Iraq', 0.7221713886667772),
 ('Jordan', 0.7338413690503784),
 ('Egypt', 0.7384502236613346),
 ('Spain', 0.7596415237187403),
 ('Republic of Serbia', 0.7775027653823088),
 ('Israel', 0.786623989516731),
 ('Kuwait', 0.8047200527442997),
 ('Malaysia', 0.8165033265875271),
 ('Philippines', 0.8248085943546257),
 ('Cyprus', 0.8302514584315609),
 ('Libya', 0.8540500750899789),
 ('Ireland', 0.8556545562413276),
 ('Belgium', 0.8596239775561308),
 ('Costa Rica', 0.8650672422911417),
 ('Lebanon', 0.8704073119265568),
 ('Ukraine', 0.8806574510030248),
 ('Pakistan', 0.8814053045822475),
 ('Qatar', 0.8828732651162372),
 ('Netherlands', 0.8851494069129785),
 ('Bangladesh', 0.8917012486222581),
 ('Liberia', 0.8954797982853817),
 ('Canada', 0.8960703780230498),
 ('New Zealand', 0.9003253526217418),
 ('Nepal', 0.9031022193719778),
 ('Germany', 0.9050087209446063),
 ('Brazil', 0.90531697369787),
 ('Russia', 0.9070482281266193),
 ('Japan', 0.9094108234331691),
 ('Georgia', 0.919698402183061),
 ('Iran', 0.9227853488003093),
 ('Haiti', 0.9248209820262407),
 ('Slovenia', 0.9252518948888038),
 ('Nigeria', 0.9261443166326451),
 ('South Africa', 0.9271276297597946),
 ('Rwanda', 0.9272480092852085),
 ('Sierra Leone', 0.928266644124298),
 ('Belarus', 0.9292372824501536),
 ('South Korea', 0.9314994003464437),
 ('Panama', 0.9327636838187268),
 ('Guatemala', 0.9335731568267526),
 ('Albania', 0.9414464417437372),
 ('Mexico', 0.9484341000627203),
 ('Croatia', 0.9489361845962138),
 ('Dominican Republic', 0.9489515520877515),
 ('Mongolia', 0.9504220942895154),
 ('Malawi', 0.9519784544685169),
 ('China', 0.9558002958369713),
 ('India', 0.9563439198839698),
 ('Azerbaijan', 0.9577986854629716),
 ('Switzerland', 0.9611611444483821),
 ('Fiji', 0.961223131156219),
 ('Yemen', 0.9626586504947824),
 ('Chile', 0.965352144553134),
 ('Turkey', 0.9667624771624742),
 ('Namibia', 0.9692580058354172),
 ('South Sudan', 0.9699074074074074),
 ('Kenya', 0.9710852547657611),
 ('Myanmar', 0.9716059231832289),
 ('Taiwan', 0.971790643613533),
 ('Burkina Faso', 0.9731371145872989),
 ('Cuba', 0.9754442310498636),
 ('Poland', 0.9779846166195573),
 ('Democratic Republic of the Congo', 0.9788820049805247),
 ('El Salvador', 0.980154054385152),
 ('Norway', 0.9831017089149175),
 ('United Republic of Tanzania', 0.9841119255521625),
 ('Afghanistan', 0.9845365872232482),
 ('Zimbabwe', 0.9854768292277184),
 ('Somalia', 0.9854815893036812),
 ('Niger', 0.9855825454677227),
 ('Cambodia', 0.9861904328138348),
 ('Ivory Coast', 0.986425026677978),
 ('Central African Republic', 0.9869580625197466),
 ('Sri Lanka', 0.987166033337572),
 ('Honduras', 0.9876781865309132),
 ('Romania', 0.9878119586278707),
 ('Togo', 0.9882534351232288),
 ('Zambia', 0.9885720297549573),
 ('Saudi Arabia', 0.9888750358640453),
 ('Ethiopia', 0.9888895318371932),
 ('Sweden', 0.9893017088287647),
 ('Hungary', 0.9895284628388412),
 ('Sudan', 0.9898037893293334),
 ('Uganda', 0.990701187840847),
 ('Senegal', 0.9914586398710526),
 ('Thailand', 0.9918999838278041),
 ('Venezuela', 0.9922553239793749),
 ('Tunisia', 0.9930054482732288),
 ('Guinea', 0.9930320778968087),
 ('Algeria', 0.9931724553565058),
 ('Botswana', 0.993231955817197),
 ('Mozambique', 0.9942140622604132),
 ('Indonesia', 0.9947760226327556),
 ('Armenia', 0.9949377171612447),
 ('Mali', 0.995430183698658),
 ('Benin', 0.9957189442882111),
 ('Peru', 0.9959674569160153),
 ('Iceland', 0.9962717828434586),
 ('Colombia', 0.9965907803182348),
 ('Nicaragua', 0.9970770977540272),
 ('Argentina', 0.9980317477376631),
 ('Ghana', 0.9986301819692661),
 ('Angola', 0.9989438848093681)]

In [36]:
pd.Series([sm[1] for sm in sm_geocorpora]).describe()

count    110.000000
mean       0.910579
std        0.128534
min        0.350839
25%        0.895627
50%        0.957071
75%        0.987779
max        0.998944
dtype: float64

In [37]:
sdm_geocorpora = {}
for admin0 in admin0_list:
    df_geocorpora_geonames_grids_merged_admin0 = df_geocorpora_geonames_grids_merged[df_geocorpora_geonames_grids_merged['SOVEREIGNT'] == admin0]
    gc = list(df_geocorpora_geonames_grids_merged_admin0['Point_Count_x'].values)
    gp = list(df_geocorpora_geonames_grids_merged_admin0['Point_Count_y'].values)
    gc /= np.sum(gc)
    gp /= np.sum(gp)
    sdi_p = 0
    for i in range(len(gp)):
        if gp[i] != 0:
            sdi_p -= gp[i]*np.log(gp[i])
    sdi_c = 0
    for i in range(len(gc)):
        if gc[i] != 0:
            sdi_c -= gc[i]*np.log(gc[i])
    if (max(sdi_p, sdi_c) == 0):
        continue
    elif (np.isnan((sdi_p-sdi_c)/max(sdi_p, sdi_c)) == False):
        sdm_geocorpora[admin0] = (sdi_p-sdi_c)/max(sdi_p, sdi_c)
    else:
        continue

sdm_geocorpora = sorted(sdm_geocorpora.items(), key = lambda kv:(kv[1], kv[0]))

In [38]:
sdm_geocorpora

[('Albania', -1.0),
 ('Angola', -1.0),
 ('Argentina', -1.0),
 ('Armenia', -1.0),
 ('Azerbaijan', -1.0),
 ('Belarus', -1.0),
 ('Benin', -1.0),
 ('Botswana', -1.0),
 ('Burkina Faso', -1.0),
 ('Colombia', -1.0),
 ('Costa Rica', -1.0),
 ('Croatia', -1.0),
 ('Cuba', -1.0),
 ('Cyprus', -1.0),
 ('Dominican Republic', -1.0),
 ('El Salvador', -1.0),
 ('Ethiopia', -1.0),
 ('Fiji', -1.0),
 ('Ghana', -1.0),
 ('Greece', -1.0),
 ('Guinea', -1.0),
 ('Haiti', -1.0),
 ('Honduras', -1.0),
 ('Hungary', -1.0),
 ('Ivory Coast', -1.0),
 ('Jordan', -1.0),
 ('Kuwait', -1.0),
 ('Lebanon', -1.0),
 ('Malawi', -1.0),
 ('Mongolia', -1.0),
 ('Mozambique', -1.0),
 ('Myanmar', -1.0),
 ('Nicaragua', -1.0),
 ('Niger', -1.0),
 ('Norway', -1.0),
 ('Panama', -1.0),
 ('Peru', -1.0),
 ('Poland', -1.0),
 ('Qatar', -1.0),
 ('Republic of Serbia', -1.0),
 ('Romania', -1.0),
 ('Rwanda', -1.0),
 ('Saudi Arabia', -1.0),
 ('Senegal', -1.0),
 ('Slovenia', -1.0),
 ('Somalia', -1.0),
 ('Sri Lanka', -1.0),
 ('Sweden', -1.0),
 ('Switzerland', -1.0),
 ('Taiwan', -1.0),
 ('Thailand', -1.0),
 ('Togo', -1.0),
 ('Tunisia', -1.0),
 ('Uganda', -1.0),
 ('United Republic of Tanzania', -1.0),
 ('Venezuela', -1.0),
 ('Zambia', -1.0),
 ('Zimbabwe', -1.0),
 ('Turkey', -0.9199658260526248),
 ('Sudan', -0.9191736726801185),
 ('Afghanistan', -0.9157465105563767),
 ('Algeria', -0.9146194743564244),
 ('Namibia', -0.9135445576818195),
 ('Central African Republic', -0.9112096443097195),
 ('Kenya', -0.9096590959914654),
 ('Russia', -0.90228343783732),
 ('Cambodia', -0.8988095199453349),
 ('Bangladesh', -0.8966149036889687),
 ('France', -0.8965515246424399),
 ('Guatemala', -0.8934046845877858),
 ('South Korea', -0.8922575151444173),
 ('Liberia', -0.8904307665133622),
 ('Iceland', -0.8900150586514943),
 ('Sierra Leone', -0.8895542741111464),
 ('Georgia', -0.8873469774155247),
 ('Brazil', -0.8854194686582221),
 ('Democratic Republic of the Congo', -0.8816167287891129),
 ('Netherlands', -0.8714634012951233),
 ('Belgium', -0.8709836052501747),
 ('Mali', -0.8707440243553689),
 ('Chile', -0.8641047948713197),
 ('Spain', -0.8622954981655988),
 ('South Sudan', -0.8597496283822232),
 ('New Zealand', -0.8540675254193575),
 ('Yemen', -0.8355505463191264),
 ('Germany', -0.8259970935281327),
 ('Libya', -0.8150677196614148),
 ('Italy', -0.8140885775011346),
 ('Egypt', -0.7994182614508376),
 ('Mexico', -0.7949021613543928),
 ('China', -0.7914361452245854),
 ('Iraq', -0.7774452596095492),
 ('Nepal', -0.772416550907136),
 ('Australia', -0.7655066343243739),
 ('Indonesia', -0.7585876573397888),
 ('Ukraine', -0.7572678556567106),
 ('Nigeria', -0.756971102381781),
 ('Iran', -0.7515947350381633),
 ('Canada', -0.725467937625598),
 ('Philippines', -0.7049653429803846),
 ('Ireland', -0.6812809099720187),
 ('South Africa', -0.6755882189687666),
 ('Pakistan', -0.6698821567317608),
 ('Japan', -0.6649321745864525),
 ('India', -0.6320958144516937),
 ('Israel', -0.6207268069176274),
 ('Syria', -0.6107118510992879),
 ('Malaysia', -0.5990459963383357),
 ('United States of America', -0.47155249330730986),
 ('United Kingdom', -0.4318350440857098)]

In [39]:
pd.Series([sdm[1] for sdm in sdm_geocorpora]).describe()

count    110.000000
mean      -0.906054
std        0.127746
min       -1.000000
25%       -1.000000
50%       -1.000000
75%       -0.860386
max       -0.431835
dtype: float64